
.fest-container{
    width: 100%;
    display:flex;   
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.fest-container h1{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
    padding-top: 1%;
}

.fest-description{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fest-description p{
    height: 450px;
    width: 900px;
    font-size: 27px;
    font-weight: 700;
    text-align: justify;
}


