
.about-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.about-container h1{
    height: 80px;
    text-align: center;
    padding-top: 1%;
}

.about-container img{
    height: 500px;
    width: 800px;
}

.about-container p{
    height: 500px;
    width: 600px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.about-container a{
    font-size: 27px;
    background-color: #121420;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.about-container a:hover{
    color: grey;
}