
.member-container{
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.member-container h1{
    text-align: center;
    height: 80px;
    padding-top: 1%;
    background-color: #121420;
    color: whitesmoke;
}

.member-description{
    width: 100%;
    height: 500px;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.member-description img{
    height: 500px;
    width: 700px;
    border-radius: 5px;
}

.member-description div{
    height: 500px;
    width: 500px;
}

.works{
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.works h1{
    padding-top: 1%;
}

.works div{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.works div a {
    border: 2px solid black;
    border-radius: 5px;
    height: 420px;
    width: 300px;
    color: black;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.works div a:hover{
    transform: scale(1.1);
    color: red;
    background-color: black;
}


.works div a img{
    height: 350px;
    width: 250px;
    padding-top: 3%;
}

.works div a h3{
    text-align: center;
}

.member-links{
    height: 70px;
    background-color: #121420;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.member-links a{
    width: 250px;
    font-size: 30px;
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
}

.member-links a:hover{
    color: grey;
}