.article-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.article-container h1{
    height: 80px;
    padding-top: 1%;
    text-align: center;
}

.article-container div{
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.article-container div a{
    height: 600px;
    width: 460px;
}

.article-container div a img{
    height: 600px;
    width: 450px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.article-container div a img:hover{
    transform: scale(1.1);
}

.article-container div p{
    height: 600px;
    width: 550px;
    font-size: 26px;
    font-weight: 700;
    text-align: justify;
}


.article-container .nav-div{
    border: 1px solid black;
    height: 80px;
    background-color: #121420;
}

.article-container .nav-div a{
    height: 80px;
    font-size: 27px;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.article-container .nav-div a:hover{
    color: grey;
}