.news-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.news-container h1{
    height: 80px;
    text-align: center;
    padding-top: 1%;
}

.news-container div{
    height: 900px;
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
}

.news-container a{
    width: 370px;
    height: 350px;
    color: black;
    transition: all 0.3s ease-in-out;
}

.news-container a:hover{
    color: red; 
}

.news-container a img{
    height: 250px;
    width: 370px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.news-container a img:hover{
    transform: scale(1.1);
}

.news-container a p{
    width: fit-content;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.news-container a h3{
    width: 400px;
}

#bottom-link{
    background-color: #121420;
    color:whitesmoke;
    height: 50px;
    width: 100%;
    font-size: 27px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

#bottom-link:hover{
    color: grey;
}